@import url(/assets/reset.css);
@import url(/assets/animate.min.css);
#fullpage .section {
  position: relative;
  width: 100%;
  height: 100%;
}
#fullpage .section img {
  width: 100%;
  height: 100%;
}
#fullpage .section p {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 99;
}
#fullpage .section p b {
  margin: 0 5px;
}
#fullpage .section #click {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
  z-index: 99;
  width: 100%;
  height: 80pt;
  padding: 10pt;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
  background: red;
  color: #fff;
  text-decoration: none;
}
.flower {
  width: 100%;
  height: 100%;
}
.flower img {
  width: 100%;
}
.flower .share {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: blue;
  color: #fff;
  text-decoration: none;
  display: none;
  font-size: 16px;
}
.tip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  z-index: 10;
  display: none;
}
.tip span {
  width: 330px;
  height: 228px;
  background: url(../images/share.png) no-repeat;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
.fangshan{
  background: url(bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  font-size: 34pt;
  color:#fff;
}
.fangshan h3{
  font-size: 70pt;
  text-align: center;
  margin-top:160pt;
}
.fangshan p{
  text-align: center;
  margin:20pt 0;
}
.fangshan .info1{
  font-size: 40pt;
}
.fangshan .info2{
  width:80%;
  margin:0 auto;
  margin-top:50pt;
  font-size: 40pt;
  line-height: 1.6em;
}
.fangshan .info3{
  width:80%;
  margin:0 auto;
  text-align: center;
  line-height: 1.6em;
  margin-top:60pt;
}
.fangshan .info4{
  width:80%;
  margin:0 auto;
  text-align: center;
  line-height: 1.6em;
}
.fangshan .info5{
  width:78%;
  margin:0 auto;
  text-align: left;
  line-height: 1.6em;
  margin-top: 50pt;
}
.sw{
  width:200px;
  height:200px;
  background: url(sw.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin:0 auto;
  margin-top:60pt;
}
.fangshan h1{
  font-size: 100pt;
  text-align: center;
  margin:30pt 0;
  margin-bottom:100pt;
}
.fangshan .gx{
  font-size: 100pt;
  margin-top:150pt;
}
.fangshan .link{
  width:80%;
  height:140pt;
  line-height: 140pt;
  margin:0 auto;
  display: block;
  text-align: center;
  background: #2EB174;
  font-size: 50pt;
  color:#fff;
  margin-top:130pt;
  border-radius: 10px;
}
.fangshan #time{
  font-size: 50pt;
}
.fangshan .date{
  font-size: 36pt;
}
.fangshan form{
  margin-top:80pt;
}
.fangshan input{
  width:75%;
  border:1px #159C74 solid;
  padding:15px 19px;
  font-size: 30pt;
  border-radius: 10px;
  height:60pt;
  color:#04A266;
}
.fangshan .submit{
  width:75%;
  padding:15px 19px;
  height:100pt;
  line-height: 100pt;
  margin:0 auto;
  display: block;
  text-align: center;
  background: #2EB174;
  font-size: 50pt;
  color:#fff;
  margin-top:30pt;
  border-radius: 10px;
}
.jt{
  width:200px;
  height:200px;
  background: url(jt.png) no-repeat;
  position: absolute;
  top:10pt;
  right:30pt;
}
p.address,
p.phone{
  width:78%;
  text-align: left;
  margin:0 auto;
  line-height: 1.6em;
  margin-top:30pt;
}

p.address span{
  display: inline-block;
}

