
<% if Changzou.today.count >= Changzou::MAX_COUNT %>
真遗憾！
青春房山的小伙伴们太疯狂了！
今天的资格都被抢没了！
明天也许还会有惊喜！
请持续关注“青春房山”
<% elsif %>
  <%= render 'form' %>
<% end %>



<body class="fangshan">
	<h3>青春房山</h3>
	<p class="info1">每天<b>100</b>名长走资格</p>
	<h1>火爆开抢</h1>
	<p>距离开始还有</p>
	<p id="time">x小时x分x秒</p>
	<%= link_to '立即开抢', new_changzou_path, :class => "link" %>
	<p class="date">开抢时间：2015年4月24日上午9:00</p>
</body>