<body class="fangshan">
  <h3 class="gx">抢票成功！求分享</h3>
  <div class="jt"></div>
  <p class="info5">您的关注与转发是青春房山源源不断的前进动力！</p>
  <p class="info5">让更多的父老乡亲们支持我们举手之劳，转发朋友圈求关注</p>
   <p class="address">
    <span style="float:left;">地址：房山区拱辰街道西北关8号良乡西北关综合楼1层</span>
  </p>
  <p class="phone">
    <span style="margin-top:30pt;">联系电话：</span><span>85008346</span>
  </p>
</body>