<!DOCTYPE html>
<html>
<head>

  <title>青春房山 - 每天100名长走资格 - 火爆开抢</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="/assets/style.css" />
  <script src="/assets/jquery-1.11.0.min.js"></script>
  <script src="/assets/jquery.fullPage.min.js"></script>
  <script src="/assets/jquery.easings.min.js"></script>
  <script src="/assets/jquery.slimscroll.min.js"></script>
  <script src="/assets/example.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
